body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
hr {
  border: dotted lightgray 6px;
  border-bottom: none;
  width: 8%;
  margin: 20px auto 20px auto;
}
p {
  line-height: 2;
}
h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", serif;
  color: #66BFBF;
  margin-bottom: -6px;

}
h2 {
  font-family: "Montserrat", serif;
  color: #66BFBF;
  font-weight: normal;
}
.title {
  font-size: 2rem;
}

.intro {
  width: 80%;
  margin: auto;
  text-align: center;
}
.design {
  width: 25%;
  float: left;
  margin-right: 30px;

}
.wine {
  width: 25%;
  float: right;
  margin-left: 20px;

}
h3 {
  color: #11999E;

}
a {
  color: #11999E;
  font-family: "Merriweather",serif;
  font-weight: bold;
  font-size: 1.5em;
  font-stretch: expanded;
}
.top-container {background-color: #d4f1f9;
  position: relative;
  padding-top: 90px;

}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin: 60px auto 80px auto;
  text-align: left;

}
.profile {
  width: 40%;
  margin: 25px auto 10px auto;
 
}

.middle-container {
  padding-bottom: 25px;

}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer {
  color: white;
  
}
.footer-link {
  word-wrap:normal;
  margin: auto;
  display: inline-block;
  text-decoration: none;
}
.btn {
  margin: auto;
	-moz-box-shadow:inset 0 1px 0 0 #cae3fc;
	-webkit-box-shadow:inset 0 1px 0 0 #cae3fc;
	box-shadow:inset 0 1px 0 0 #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36e3be), color-stop(1, #a779fc) );
	background:-moz-linear-gradient( linear, left top, left bottom, color-stop(0.05, #36e3be), color-stop(1, #a779fc) );
  background: -ms-linear-gradient( linear, left top, left bottom, color-stop(0.05, #36e3be), color-stop(1, #a779fc) );
background: -o-linear-gradient( linear, left top, left bottom, color-stop(0.05, #36e3be), color-stop(1, #a779fc) );
background: -webkit-linear-gradient( linear, left top, left bottom, color-stop(0.05, #36e3be), color-stop(1, #a779fc) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36e3be', endColorstr='#a779fc');
	background-color:#36e3be;
	-webkit-border-top-left-radius:22px;
	-moz-border-radius-topleft:22px;
	border-top-left-radius:22px;
	-webkit-border-top-right-radius:22px;
	-moz-border-radius-topright:22px;
	border-top-right-radius:22px;
	-webkit-border-bottom-right-radius:22px;
	-moz-border-radius-bottomright:22px;
	border-bottom-right-radius:22px;
	-webkit-border-bottom-left-radius:22px;
	-moz-border-radius-bottomleft:22px;
	border-bottom-left-radius:22px;
text-indent:0;
	border:1px solid #47f5ca;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:54px;
	line-height:54px;
width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 45px #29a0cc;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a779fc), color-stop(1, #36e3be) );
	background:-moz-linear-gradient( center top, #a779fc 5%, #36e3be 100% );
  background: -ms-linear-gradient( linear, left top, left bottom, color-stop(0.05, #a779fc), color-stop(1, #36e3be) );
background: -o-linear-gradient( linear, left top, left bottom, color-stop(0.05, #a779fc), color-stop(1, #36e3be) );
background: -webkit-linear-gradient( linear, left top, left bottom, color-stop(0.05, #a779fc), color-stop(1, #36e3be) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a779fc', endColorstr='#36e3be');
	background-color:#a779fc;
}.btn:active {
	position:relative;
	top:1px;
}
